extends layout

block content
  h1= title
  p Welcome to #{title}
  #userbox

block scripts
  script(src='/javascripts/jqueryplugins/shaker.js')
  script(type="text/babel", src='/javascripts/reactcomponents/userboxbs.jsx')
  script(src='/javascripts/index.js')
