extends layout

block content
  h1= title
  .login-form
    label Username:
    input(type="text", name="username")
    label Password:
    input(type="password", name="password")
    input(type="button", value="Giriş", onClick="login()")
