body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#LoginModal .modal-dialog {
  max-width: 380px;
}

#LoginModal input[type=text],
#LoginModal input[type=password] {
  max-width: 100%;
}
